/*version 2 - 2/16/25: created file; added styles for contact form*/

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #252525;
    border-radius: 40px;
    padding: 30px;
}

div {
    display: grid;
    margin: 10px;
    grid-template-columns: 5fr 20fr 1fr;
}
div span {
    color: #ff4040;
    text-align: center;
}

#buttons {
    grid-template-columns: 1fr 1fr;
}
#buttons input {
    margin: auto;
}

#contactBy {
    grid-template-columns: 5fr 1fr 3fr 1fr 3fr 1fr 3fr;
    margin: 25px 10px;
}

#resetForm {
    background-color: #d54040;
}