/*version 2 - 2/16/25:  created file; added styles for controllers carousel*/

#controllers {
    text-align: center;
    margin: 30px 0;
}

#carousel {
    display: grid;
    width: 90%;
    margin: 0 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

#carousel div {
    grid-template-rows: 2fr 1fr 4fr;
    padding: 20px;
    border-radius: 40px;
    background-color: #252525;
}