/*Ethan and Evan
October 1*/

body {
	background-color: #b8d1eb;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

nav li {list-style-type: none;}

main {
	background-color: #c5a98b;
	padding: 10px;
}

main ul {list-style-image: url(../images/tomato.png);}

main, footer { 
	clear: both;
}

footer {
	font-size: .75em;
	text-align: center;
	background-color: sienna;
	padding: 10px 0px;
}

h1 {
	font-family: Tahoma, sans-serif;
	font-size: 3em;
}

h2 {
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#outerwrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

.floatleft { 
	float: left;
	margin-right: 3%;
}

.floatright {
	float: right;
	margin-left: 3%;
}